main .section-one .content {
  width: 90%;
  left: 5%;
  top: 70%;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.6s;
}

main .section-one .item:hover .content {
  transform:scale(1.05);
}

main .section-one .image,
main .section-one .content,
i {
  cursor: pointer;
}

main .section-two {
  background-color: rgba(0, 0, 0, 0.8);
}

main .section-two .box {
  width: 50%;
  background-image: url(../image/image1.jpg);
  background-position: center center;
  background-size: cover;
  height: 70vh;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

main .section-two .box i {
  transition: color 0.4s;
}

main .section-two .box i:hover {
  color: #007bff;
}


@media (max-width: 992px) {
  main .section-two .box {
    width: 70%;
    height: 60vh;
  }
}

@media (max-width: 768px) {
  main .section-one .content {
    font-size: 0.9rem;
    padding: 8px;
  }

  main .section-two .box {
    width: 90%;
    height: 50vh;
  }
}

@media (max-width: 576px) {
  main .section-one .content h2 {
    font-size: 1rem;
  }
  main .section-one .content p {
    font-size: 0.8rem;
  }
}
